.product-list {
  flex: 50%;
  margin-left: 1rem;
  box-shadow: var(--shadow-dark);
  border-radius: 4px;
  overflow: hidden;

  @media only screen and (max-width: 37.5em) {
    order: 2;
    margin-top: 2rem;
    margin-left: 0;
  }
}

.heading {
  width: 100%;
  background: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.product {
  display: flex;
  width: 100%;
  height: 10rem;
  background: #fff;
  box-shadow: var(--shadow-light);
  margin-bottom: 1rem;
  padding: 1rem;
}

.product-image {
  max-height: 8rem;
}

ul {
  list-style: none;
}

.product-info {
  min-width: 4rem;
  padding: 1rem;
}

.product-title {
  font-size: 2rem;
}

.product-delete {
  height: 2.4rem;
  margin-left: auto;
  border: none;
  color: #fff;
  background: var(--color-warning);
  padding: 0.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
}

.no-data {
  padding: 2rem;
  text-align: center;
}
