.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  @media only screen and (max-width: 37.5em) {
    justify-content: space-evenly;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background: var(--color-white);
  padding: 0;
  border: none;
  outline: 0;
  color: inherit;
  height: 3.5rem;
  cursor: pointer;
}

.btn-small {
  width: 15rem;
}

.btn-active {
  border-bottom: 3px solid var(--color-success);
}
