@import '../../../sass/variables.scss';

.product {
	height: 25rem;
	flex: 0 31%;
	margin: 1rem;
	box-shadow: $shadow-dark;
	font-family: 'Arial-BoldMT';

	@media only screen and (max-width: $bp-medium) {
		flex: 0 46.5%;
	}

	@media only screen and (max-width: $bp-small) {
		flex: 0 100%;
	}

	&__image-wrapper {
		width: 100%;
		height: 80%;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__info {
		background-color: $color-primary;
		color: $color-white;
		height: 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
	}

	&__title {
		font-size: 1.6rem;
	}
}
