.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 6rem;
	box-shadow: $shadow-light;

	@media only screen and (max-width: $bp-small) {
		flex-wrap: wrap;
		box-shadow: none;
	}

	&__logo {
		width: 12rem;
		margin: 0 5rem;
		@media only screen and (max-width: $bp-medium) {
			width: 10rem;
			margin: 0 3rem;
		}
	}
}

.search {
	display: inline-flex;
	flex: 0 1 40%;
	padding: 0 2rem;
	position: relative;
	border-bottom: 2px solid $color-primary;
	overflow: hidden;

	@media only screen and (max-width: $bp-small) {
		order: 1;
		flex: 1 0 90%;
		width: 100%;
		margin: 0 5%;
		padding: 1rem 0 0 0;
		background-color: #fff;
		box-shadow: $shadow-light;
	}

	&__input {
		height: 2rem;
		width: 100%;
		font-size: 1.6rem;
		margin: 0;
		background: transparent;
		border: none;
		outline: 0;
		color: #000;
	}

	&__icon {
		padding: 0.5rem;
	}
}

.user-block {
	flex: 0 1 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	padding: 0 1rem;
	font-family: 'Arial-BoldMT';
	background-color: $color-primary;

	&__profile {
		display: flex;
		align-items: center;
	}

	&__name {
		font-size: 1.6rem;
		color: $color-white;
		margin: 0 1rem;
	}

	&__avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	&__sign-out {
		border: none;
		background: none;
		padding: 0 1rem;
	}
}
