.product {
  height: 25rem;
  flex: 0 48%;
  margin: 1%;
  box-shadow: var(--shadow-dark);
  font-family: 'Arial-BoldMT';
  text-decoration: none;
  transition: all 0.2s;

  @media only screen and (max-width: 56.25em) {
    flex: 0 48%;
  }

  @media only screen and (max-width: 37.5em) {
    margin: 2% 1%;
    flex: 0 100%;
  }
}

.product:hover {
  transform: scale(1.02);
}

.image-wrapper {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}

.info {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.title {
  font-size: 1.6rem;
}
